
= simple_form_for Book.new, url: books_path, method: :post do |f|
	= f.input :title
	= f.input :author
	= f.input :isbn
	= f.input :publishing_date
	= f.submit class: "btn btn-success"
	
= simple_form_for String.new, url: root_path, method: :get do |f|
	= f.input_field :search, label: false, data: {role: "search-input"}, placeholder: "Search"
	
%table.table.table-striped
	%th Title
	%th Author
	%th ISBN number
	%th Publishing date