
= simple_form_for :book, url: books_path, method: :post do |f|
	= f.input :title, label: false, placeholder: "title"
	= f.input :author, label: false, placeholder: "author"
	= f.input :isbn, label: false, placeholder: "ISBN"
	= f.input :publishing_date, label: false, placeholder: "publishing date"
	= f.submit class: "btn btn-success"
	
= simple_form_for String.new, url: root_path, method: :get, html: { autocomplete: 'off' } do |f|
	= f.input_field :search, label: false, data: {role: "search-input"}, placeholder: "Search"
	
%table.table.table-striped
	%th Title
	%th Author
	%th ISBN number
	%th Publishing date