%h3= "Rent books"
= simple_form_for @rent_card, url: @rent_card.new_record? ? rent_cards_path : rent_card_path(@rent_card), method: @rent_card.new_record? ? :post : :patch do |f|
	= f.input :amount, label: false, placeholder: "How many copies?"
	= f.input :book_id, input_html: { value: @book.id }, as: :hidden
	= f.submit "Rent"